<mat-toolbar>
  <a mat-icon-button (click)="backToCourseDetail()"><mat-icon>arrow_back</mat-icon></a>
  <span i18n>Course</span>
</mat-toolbar>
<div class="space-container">
  <mat-toolbar class="primary-color font-size-1">
      <span class="margin-lr-3"><h3><ng-container i18n>Step</ng-container> {{stepNum}}: {{stepDetail.stepTitle}}</h3></span>
    <span class="toolbar-fill"></span>
    <mat-form-field *ngIf="stepDetail.resources">
      <mat-select i18n-placeholder placeholder="List of Resources" [value]="selectedValue" (change)="onChange($event.value)">
        <mat-option class="margin-lr-10" *ngFor="let resource of stepDetail.resources.docs" [value]="resource">
          {{ resource.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span i18n>{{stepNum}}/{{maxStep}}</span>
    <button mat-icon-button [disabled]="stepNum === 1" (click)="changeStep(-1)"><mat-icon>navigate_before</mat-icon></button>
    <button mat-icon-button [disabled]="stepNum === maxStep" (click)="changeStep(1)"><mat-icon>navigate_next</mat-icon></button>
  </mat-toolbar>
  <div class="view-container view-full-height">
    <div class="description">{{stepDetail.description}}</div>
    <planet-resources-viewer
      *ngIf="resource"
      [resource]= resource>
    </planet-resources-viewer>
  </div>
</div>
