<mat-table [dataSource]="tableData">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
        i18n>
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container  matColumnDef="title">
    <mat-header-cell *matHeaderCellDef i18n>Title</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: tableColumns"
    [ngClass]="{highlight:selection.isSelected(row)}"
    class="cursor-pointer">
  </mat-row>
</mat-table>
<mat-dialog-actions>
  <button mat-button (click)="ok()" [disabled]="!selection.hasValue()" i18n>OK</button>
  <button mat-button mat-dialog-close i18n>Cancel</button>
</mat-dialog-actions>
